body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2e2e2e;
    color: white;
    text-align: center;
}

.navbar {
    background-color: black;
    padding: 15px;
    text-align: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-size: 18px;
    font-family: "times new roman";
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 40px;
}

h1 {
    margin: 20px;
    font-size: 28px;
}

.button-left, .button-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: lightwhite;
    transition: background-color 0.3s;
    box-shadow: 0px 0px 10px whitesmoke;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
}

.button-left {
    left: 10px;
}

.button-right {
    right: 20px;
}

.biodata-card {
    background-color: black;
    width: 45%;
    margin: 60px auto;
    padding: 50px;
    border-radius: 50px;
    text-align: center;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}