/* Mengatur halaman agar full screen dengan rasio 16:9 */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: black;
}

/* Section utama dengan format 16:9 */
section {
    position: relative;
    width: 100vw;
    height: 56.25vw; /* 16:9 aspect ratio */
    max-height: 100vh;
    max-width: 177.78vh; /* 16:9 aspect ratio */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    margin: auto;
}

/* Header */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    max-width: 80px;
}
header ul {
    display: flex;
}
header ul li {
    list-style: none;
}
header ul li a {
    color: #333;
    font-weight: 800;
    margin-left: 40px;
    text-decoration: none;
}

/* Kontainer utama */
.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Teks */
.text-box {
    max-width: 50%;
    padding-left: 5%;
}
.text-box h2 {
    color: #333;
    font-size: 3vw; /* Ukuran fleksibel */
    font-weight: bold;
}
.text-box p {
    color: #333;
}
.text-box a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

/* Gambar */
.img-box {
    max-width: 40vw;
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
}
.img-box img {
    max-width: 100%;
    height: auto;
}

/* Efek lingkaran */
.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #017143;
    clip-path: circle(50% at right 70%);
}

/* Tombol */
.btn-back, .btn-next {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.btn-back:hover, .btn-next:hover {
    background-color: #218838;
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

/* Thumbnail gambar */
.thumb {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}
.thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    transition: 0.5s;
}
.thumb li:hover {
    transform: translateY(-10px);
}
.thumb li img {
    max-width: 80px;
}

/* Sosial Media */
.social {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}
.social li {
    list-style: none;
}
.social li a img {
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1);
}